.DS_Store
/node_modules
/SpecRunner.html
/src/main/backend/leveldb/node_modules
/src/main/backend/leveldb/database/tables
/src/main/backend/leveldb/database/keys
/clients/nodejs/node_modules
/clients/nodejs/database
/clients/nodejs/localhost.*
/dist/nimiq*
/dist/web*
/dist/node*
/dist/leveldb*
/dist/indexeddb*
/dist/doc/
.idea
*.iml
/database
/benchmark/nodejs/db-*
/.istanbul/
/coverage/
